.place-details-cmp{
    & > div{
        display: flex;
        img{
            width: 300px;
        }
        .place-info{
            margin-left: 40px;
            h1{
                font-size: 24px;
            }
            .timing{
                font-size: 12px;
            }
        }
    }    
}