<div class='place-details-cmp'>

	<div>
		<div class="place-image"></div>
		<div class="place-info">
			<h1>Meghana</h1>
			<p> 
				Meghana is proud to be a favourite among all kinds of masses which range from corporate people and college going students in the afternoons to families and singletons at dinner time.
			</p>
			<div class="timing"> 12PM to 8PM</div>
			<div class="timing"> Rating</div>
		</div>
	</div>
		<div class="safe-detail">
			Corona Info
			
			<ul>
				<li>No of affected People : 200</li>
				<li>No of recovered People : 190</li>
				<li>No of Quarantined : 500</li>
				<li> Traffic Check</li>
			</ul>
		</div>
	
	<div>

	</div>

	<div class='product-details-cmp--btn-wrapper'>
					<div class='btn-product-card' onClick="addtoCart()" data-sly-resource="${'btn' @ resourceType='hclecomm/components/content/button', decoration=true}"></div>
					<div class='btn-product-card' onClick="addtoWishlist()" data-sly-resource="${'btn button' @ resourceType='hclecomm/components/content/button', decoration=true}"></div>
	</div>

</div>

