<div class='place-details-cmp'>

	<div>
        <div class ="product-image-rating">
		<img id="place-image" src="" />
            <div class="rating-detail">
        						<input type="checkbox" id="rating10" name="rating10" value="5"/> <label for="rating10" title="5"></label>
                                 <input type="checkbox" id="rating9" name="rating9" value="4.5"/><label class="half" for="rating9" title="4.5"></label>
                                 <input type="checkbox" id="rating8" name="rating8" value="4" /><label for="rating8" title="4"></label>
                                 <input type="checkbox" id="rating7" name="rating7" value="3.5" /><label class="half" for="rating7" title="3.5"></label>
                                 <input type="checkbox" id="rating6" name="rating6" value="3" /><label for="rating6" title="3"></label>
                                 <input type="checkbox" id="rating5" name="rating5" value="2.5" /><label class="half" for="rating5" title="2.5"></label>
                                 <input type="checkbox" id="rating4" name="rating" value="2" /><label for="rating4" title="2"></label>
                                 <input type="checkbox" id="rating3" name="rating" value="1.5" /><label class="half" for="rating3" title="1.5"></label>
                                 <input type="checkbox" id="rating2" name="rating" value="1" /><label for="rating2" title="1"></label>
                                 <input type="checkbox" id="rating1" name="rating" value="0.5" /><label class="half" for="rating1" title="0.5"></label>
                                 <input type="checkbox" id="rating0" name="rating" value="0" /><label style="display:none" for="rating0" title="No star"></label>
                           		</div>
                                    </div>
		<div class="place-info">
			<h1 id="place-title"> </h1>
			<p id="place-desc">
				Meghana is proud to be a favourite among all kinds of masses which range from corporate people and
				college going students in the afternoons to families and singletons at dinner time.
			</p>
			<div class="timing"> 12PM to 8PM</div>
			<div id="place-rating"> Rating</div>
			<ul class="safe-detail">
				<li> <span> No of Covid Cases</span> <b id="covid-cases"></b></li>
				<li> <span> No of Recovered Cases</span> <b id="covid-recovered"></b></li>
				<li> <span> Covid Severity</span> <b id="covid-severity"></b></li>

				<li> Traffic Check</li>
			</ul>
		</div>
	</div>
	<!--/* <div class="safe-detail">
		Corona Info

		<ul>
			<li> <span> No of Covid Cases</span> <span id="covid-cases"></span></li>
			<li> <span> No of Recovered Cases</span> <span id="covid-recovered"></span></li>
			<li> <span> Covid Severity</span> <span id="covid-severity"></span></li>
			
			<li> Traffic Check</li>
		</ul>
	</div> */-->
	<div class="place-review">
		Place Review

		<h5 id="place-review"></h5>
	</div>
	<!-- <div class='product-details-cmp--btn-wrapper'>
		<div class='btn-product-card' onClick="addtoCart()"
			data-sly-resource="${'btn' @ resourceType='hclecomm/components/content/button', decoration=true}"></div>
		<div class='btn-product-card' onClick="addtoWishlist()"
			data-sly-resource="${'btn button' @ resourceType='hclecomm/components/content/button', decoration=true}">
		</div>
	</div> -->

</div>