<div class='place-details-cmp'>

	<div>
		<img id="place-image" src="" />
		<div class="place-info">
			<h1 id="place-title"> </h1>
			<p id="place-desc">
				Meghana is proud to be a favourite among all kinds of masses which range from corporate people and
				college going students in the afternoons to families and singletons at dinner time.
			</p>
			<div class="timing"> 12PM to 8PM</div>
			<div id="place-rating"> Rating</div>
			<ul class="safe-detail">
				<li> <span> No of Covid Cases</span> <span id="covid-cases bold"></span></li>
				<li> <span> No of Recovered Cases</span> <span id="covid-recovered bold"></span></li>
				<li> <span> Covid Severity</span> <span id="covid-severity bold"></span></li>
				
				<li> Traffic Check</li>
			</ul>
		</div>
	</div>
	<!-- <div class="safe-detail">
		Corona Info

		<ul>
			<li> <span> No of Covid Cases</span> <span id="covid-cases"></span></li>
			<li> <span> No of Recovered Cases</span> <span id="covid-recovered"></span></li>
			<li> <span> Covid Severity</span> <span id="covid-severity"></span></li>
			
			<li> Traffic Check</li>
		</ul>
	</div> -->
	<div class="place-review">
		Place Review

		<h5 id="place-review"></h5>
	</div>
	<!-- <div class='product-details-cmp--btn-wrapper'>
		<div class='btn-product-card' onClick="addtoCart()"
			data-sly-resource="${'btn' @ resourceType='hclecomm/components/content/button', decoration=true}"></div>
		<div class='btn-product-card' onClick="addtoWishlist()"
			data-sly-resource="${'btn button' @ resourceType='hclecomm/components/content/button', decoration=true}">
		</div>
	</div> -->

</div>